[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pymysql = "*"
djangorestframework = "*"
django-rest-auth = {extras = ["with_social"],version = "*"}
django-cors-headers = "*"
django-fields = "*"
pillow = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "*"
